@import "../../node_modules/flag-icons/css/flag-icons.min.css";

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #0f111a;
  color: white;
}

input[type="text"] {
  margin: 1rem 0;
  width: 100%;
  height: 2rem;
  transition: 0.5s;
}

button,
input[type="submit"] {
  padding: 1em 2em;
  appearance: none;
  background-color: #ff0081;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

  &:disabled {
    background-color: grey;
    box-shadow: 0 2px 25px grey;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

main {
  animation: fadein 2s;

  height: 80vh;

  display: grid;
  place-items: center;

  .login-container,
  .connection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0;
    }

    .score-container {
      display: flex;
      justify-content: space-between;
    }

    .quiz-score {
      transition: 0.5s;

      &.success {
        transition: 0.5s;
        text-shadow: 0 0 20px #fff, 0 0 30px green, 0 0 40px green,
          0 0 50px green, 0 0 60px green, 0 0 70px green, 0 0 80px green;
      }
    }

    .big-flag {
      transition: 1s;
      margin: 1rem;

      width: 100%;
      height: 20vh;

      filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.8));
    }

    input[type="text"] {
      &:focus {
        box-shadow: 0 0 1rem white;
      }

      &.error {
        animation: shake 0.2s ease-in-out 0s 2;
        box-shadow: 0 0 2rem red;
      }

      &.success {
        transition: 0.5s;
        box-shadow: 0 0 2rem green;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
